
.card .project-details {
  margin-top: 1rem;

  h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.card .links {
  margin-top: 1rem;

  .btn {
    margin-right: 1rem;
  }
}
